{% load static %}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="app">

        <header>
        <nav class="navbar navbar-toggleable-md dark-primary-color ">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand text-primary-color" href="/dalBase">
                        DalarmosBase
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>

                    <!-- Right Side Of Navbar -->
                    {% if user.is_authenticated %}

                    <ul class="nav navbar-nav navbar-right text-primary-color">
                        <!-- Authentication Links -->
                            <li class="nav-item text-primary-color"><a href="/dalBase/reports">Rapporter</a></li>
                            <li class="nav-item text-primary-color"><a href="/admin">Administration</a></li>
                            <li class="nav-item dropdown ">
                                <a href="#" class="dropdown-toggle text-primary-color" data-toggle="dropdown" role="button"  aria-expanded="false">
                                     {{ request.user.vacancy }} <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown" role="menu">
                                    <li>
                                        <a href="/dalBase/profile">Personliga inställningar</a>
                                    </li>
                                    <li class="text-primary-color">
                                        <a href="/logout"
                                            onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                            Logga ut
                                        </a>
                                        <form id="logout-form" action="" method="POST" style="display: none;">
                                        </form>
                                    </li>
                                </ul>
                            </li>


                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        </header>



        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

<script src="{% static "js/bundle.js" %}"></script>
</body>

</html>