{% extends "parts/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="container p-t-6" id="profileContainer">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"> </div>

                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Vakans</th>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}