{% extends "parts/base.html" %}

{% block title %}Dalarmos Base - Rapport{% endblock %}

{% block content %}

<div class="container p-t-6" id="profileContainer">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                <span><b>Larm</b></span>
                </div>

                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}