{% load static %}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="app" class="login-page--body-div">
       <div class="container-fluid" id="loginContainer">
           <div class="row">
                <div class="col-md-12 login-page--header-div">
                    <h1>Dalarmos Core</h1>

                </div>
           </div>
           <div class="row login-page--login-row-div">
                <div class="col-md-3 col-md-offset-4">
                    <div class="panel panel-login login-page--login-panel-div">
                          <div class="panel-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-default">Logga in</button>
                            </form>
                          </div>
                    </div>

                </div>
           </div>

           <div class="row" id="footer">
                <div class="col-md-8">
                    <p>
                        Simon Blomsterlund
                    </p>

                </div>
           </div>

       </div>




        <div id="content">

        </div>
    </div>


</body>

</html>